body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  border-radius: 10px;
}
h1 {
  text-align: center;
  color: #006646;
}
h2 {
  text-align: center;
  font-size: 15px;
  color: #619e45;
  line-height: 1.5px;
}

h3 {
  color: #006646;
  text-align: center;
  border: 1px solid #006646;
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 10px;
}

p {
  line-height: 1.5;
  font-size: 16px;
  margin: 20px 0 10px;
}

button {
  display: block;
  margin: 20px auto;
  background: #006646;
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
}

.understand {
  color: #619e45;
  text-decoration: none;
  font-size: 12px;
}

.understand:hover {
  text-decoration: underline;
  font-size: 12px;
}
a {
  color: #619e45;
}

.team {
  text-align: center;
}
